[2014-10-01 09:27] joel-costigliola opened #1 "Write documentation to assertj"
Github wiki are nice but assertj site is better for documenting modules.

Check http://joel-costigliola.github.io/assertj/assertj-help.html#assertj-build-site for help.

[2014-11-13 18:01] baztian opened #2 "Add insert, update and delete statement execution"
Would be nice to be able to execute code like this:

    Change change = new Change(source, "DELETE FROM TABLE WHERE ID=?", 1); // Change is similar to Request
    assertThat(change).rowsAffected(1);

[2014-11-19 11:31] baztian opened #3 "oracle.sql.TIMESTAMP NOT_IDENTIFIED"
Executing code

[code]

 causes an error:

[code]

I'm working against a Oracle 11g DB.

Error is caused by ValueType#getType(Object) not being able to map oracle.sql.TIMESTAMP class to DATE_TIME. It is not a subclass of any java jdk base class. Could you change the code to not use instanceof but JDBCs meta.getColumnType(col)? Constants are defined in java.sql.Types... Or would this cause new prob

[2014-11-24 20:32] #3 closed, assigned to nobody

[2015-05-06 23:44] joel-costigliola opened #4 "add code examples in javadoc"
It's hard to understand what some assertion does without example.

for ex: `AssertionsOnDataType.isOnDataType`.

[2015-05-07 06:23] regis1512 commented on #4
For the moment, i added example for this one (datatype_isontable_assertion_examples and datatype_isonrequest_assertion_examples methods in ChangesAssertionExamples).
I will check the other assertion methods and confirm here when if will be done.

Thanks.

[2015-05-10 13:39] regis1512 commented on #4
I think i have added a example for each kind of assertion in https://github.com/regis1512/assertj-examples/tree/master/assertions-examples/src/test/java/org/assertj/examples/db.

Please let me know when i can create a pull request

[2015-05-10 21:15] joel-costigliola opened #5 "Rename hasValuesEqualTo to hasValues"
Ex:
[code]

[2015-05-10 21:21] joel-costigliola opened #6 "Rename isOfAnyOfTypes to ..."
I find `isOfAnyOfTypes`not to sound well, so I suggest to rename it to:
1. `isOfAnyType` or
2. `hasTypeIn`

I'm not sure what works best...

[2015-05-11 20:42] regis1512 commented on #6
What do you think about mixing your two suggestions ?
-> `isOfAnyTypeIn`

Thks

[2015-05-11 20:49] regis1512 commented on #2
For me this issue is done because of the implementation of the concept of Changes with all the linked navigation and assertions.
So i close this issue.
Thanks.

[2015-05-11 20:49] #2 closed

[2015-05-11 21:03] joel-costigliola commented on #6
good one ! :)

[2015-05-11 21:18] regis1512 commented on #6
That's done.
Thanks ;)

[2015-05-11 21:18] regis1512 commented on #5
That's done.
Thanks ;)

[2015-05-18 00:42] joel-costigliola opened #7 "Find a better database icon/logo"
The current is not pretty :crying_cat_face:

[2015-05-25 22:43] joel-costigliola opened #8 "Use assertj-core 2.0 or higher"
pom indicates 1.7.0

[2015-06-02 21:34] PascalSchumacher commented on #6
This can be closed I guess?

[2015-06-02 21:35] PascalSchumacher commented on #8
I guess this should be closed: https://github.com/joel-costigliola/assertj-db/commit/02fa0226c3ba3ce7544d7a22e6180eebe754dfc6 ?

[2015-06-02 21:35] PascalSchumacher commented on #5
This can be closed I guess?

[2015-06-02 21:51] regis1512 commented on #6
Yes we can ;)

[2015-06-02 21:51] #6 closed

[2015-06-02 21:52] regis1512 commented on #8
OK. I do.

[2015-06-02 21:52] #8 closed

[2015-06-06 13:24] regis1512 commented on #5
I do

[2015-06-06 13:24] #5 closed

[2015-06-06 13:29] regis1512 opened #9 "Make a way to view the data of a Table, of a Request or of Changes"
It could be interesting for the user to have the possibility to print like with toString or view like like a HTML document the information in a Table, a Request or Changes for example.

That could make easier the debugging of a test.

[2015-06-06 13:30] regis1512 commented on #9
It is an idea for a next release.
For the moment, the goal is to make the first.

[2015-06-06 13:39] regis1512 opened #10 "Make suggestions of assertions at the end of the test"
Suppose that the developer using assertJ-DB is writing a test.
The DAO is already written.
The developer check the result in the test database after the first test run.

The idea is to have a static method like :
suggestAssertionsOn(table);
and assertj-DB write in the console an example of assertions with the state of the database.

The example can be copy in the test by the developer like base to

[2015-06-06 13:39] regis1512 commented on #10
It is an idea for a next release.
For the moment, the goal is to make the first.

[2015-06-06 13:41] regis1512 opened #11 "Help migration from DBUnit to AssertJ-DB"
On the same idea than #10 (https://github.com/joel-costigliola/assertj-db/issues/10),
write suggestions of assertions based on DBUnit assertions to help a migration

[2015-06-06 13:42] regis1512 commented on #11
It is an idea for a next release.
For the moment, the goal is to make the first.

[2015-07-09 08:11] aartiPl opened #12 "Add assertions for database structure"
I need assertions for checking database structure.
E.g. I want to check if specific table exists in database.

Proposed assertions:
`assertThat(table).exists();`
or
`assertThat(source).tableExists("name");`

Additionally it would be nice to have convinience method isEmpty() for
`assertThat(table).hasNumberOfRows(0);`

JDBC code to check if table exists ()

    public static boolean hasTable(DataSo

[2015-07-09 08:46] regis1512 commented on #12
It is a good idea.
But i prefer to plan for a next release.
For the moment, the goal is to make the first release (it will be done in a couple of day).
Thanks

[2015-07-10 14:37] aartiPl opened #13 "AbstractMethodError when creating Table using datasource instead of Source"
I get AbstractMethodError when I use Datasource in Table instead of Source:

        HikariConfig poolConfig = new HikariConfig();
        poolConfig.setJdbcUrl("jdbc:h2:mem:test");
        poolConfig.setUsername("user");
        poolConfig.setPassword("password");
        poolConfig.setMaximumPoolSize(3);
        poolConfig.setMinimumIdle(1);

        ds = new HikariDataSource(poolConfig);

[2015-07-12 13:21] regis1512 commented on #13
Hello,

I succeeded to reproduce the problem.
It is when we use the constructor with a DataSource and not with a Source.
It is because ConnectionJavassistProxy#getSchema() is a proxy.
In AbstractDbElement#getSchema(Connection) method, the getSchema() method is checked to verify if it is abstract (because of the proxy it is the proxy method which is verified).
The proxy method is not abstract but t

[2015-07-12 13:46] regis1512 commented on #13
I tried to fix it (i just commit the fix). But because i am in holidays with a old/small portable computer i can not well test that.
Please let me know if it is better.

[2015-07-12 14:54] #1 closed

[2015-07-13 09:20] aartiPl commented on #13
Hi, can you please publish 1.0 artifact with your fix? I have added dependency on version 1.0 and it behaves the same as before...

[2015-07-13 10:37] joel-costigliola commented on #13
the version 1.0.0 is already published, this will be fixed in the next version.

[2015-07-13 10:48] aartiPl commented on #13
Right. I have tested code from repo and it works correctly right now. It will be great if the next (minor) release happens soon... Thanks!

[2015-08-10 05:50] regis1512 commented on #13
The version 1.0.1 is released since 09-Aug-2015 (http://search.maven.org/#artifactdetails|org.assertj|assertj-db|1.0.1|bundle)

I close the issue.

[2015-08-10 05:50] #13 closed

[2015-08-23 03:49] otoniel-isidoro-sofist opened #15 "[Improvement] Support new columns type like UUID"
The number of supported types of db columns is very limited. Should be possible at least specify a custom type by an extension point like withValueType(UUID.class) for example.

[2015-08-25 13:32] otoniel-isidoro-sofist commented on #15
https://github.com/joel-costigliola/assertj-db/pull/16

[2015-08-25 13:39] otoniel-isidoro-sofist commented on #15
For while I added the UUID type but I will try later implement a generic type to turn it possible to make assertions on any column type that is not mapped on assertj-db.

[2015-08-25 18:24] otoniel-isidoro-sofist opened #17 "JodaTime Support"
Why doesn't have support for joda-time yet as others assertJ modules does?

[2015-08-25 18:48] otoniel-isidoro opened #18 "isCloseTo Assertions for Date values with a time tolerance"
For test purposes on Date assertions should be more easy to use an isCloseTo method with a tolerance instead of use isAfter and isBefore.

Example:
[code]

[2015-08-26 21:07] regis1512 commented on #17
Just to limit the dependencies

[2015-08-26 21:08] regis1512 commented on #18
I think it is a good idea.
May be the method could work with Number

[2015-08-27 01:54] otoniel-isidoro-sofist commented on #18
You mean use Number for the tolerance parameter?

[2015-08-27 01:56] otoniel-isidoro-sofist commented on #17
You keep it clean and simple I see....but an integration with jodatime could be very useful. What you think?

[2015-08-27 06:03] regis1512 commented on #17
I hesitate. But in my opinion, i prefer migrate in Java 8 in few months (peharps with a branch in first time like for assertj-core)

[2015-08-27 06:06] regis1512 commented on #18
Yes a number for the tolerance. But i was not clear. Peharps with a example
[code]

[2015-08-27 11:29] otoniel-isidoro-sofist commented on #17
Ok Then I will close this issue.

[2015-08-27 11:29] #17 closed

[2015-08-27 19:22] otoniel-isidoro-sofist commented on #18
Then it assumes that the tolerance is in MILISECONDS?

[2015-08-27 20:38] regis1512 commented on #18
I did a mistake on the second line.
May be with correction it is better.
For me there is on a side the assertions you suggest for date, time and date/time (for example to compare a date with a date with tolerance).
And on another side the assertions i suggest (with the same name) for number (to compare a number with a number with tolerance).
[code]
For me the two possibilities have a meaning

[2015-08-27 20:40] regis1512 commented on #18
Sorry, when i read my first messages i was really not clear (i did not take enough time to make a good answer)

[2015-08-28 16:47] otoniel-isidoro-sofist opened #19 "TEXT column type is not supported (CLOB)"
I got a problem. The column type TEXT (not varchar) on h2database is not supported by assertjdb too (It is mapped as object JdbcClob.class that implements the java.sql.CLOB).

Then I see that on AbstractDbData class is not mapped the CLOB type on the collectRowsFromResultSet method.
I suggest just add this type to get it as string as you can see below:
[code]
What do you think?

[2015-08-28 17:28] regis1512 commented on #19
It is a good idea too.
I think there are other H2 SQL types with problems : BLOB and ARRAY

[2015-08-28 17:28] #4 closed

[2015-08-28 17:52] otoniel-isidoro-sofist commented on #19
Ok I already made this and just need to create some tests too. I will create a pull request on another branch.
For the BLOB type I don't know if is better to get it as String or maybe bytes...

[2015-08-28 18:00] otoniel-isidoro-sofist commented on #19
I think ARRAY type cannot be mapped as String too:
ARRAY http://h2database.com/html/datatypes.html#array_type
An array of values. Mapped to java.lang.Object[] (arrays of any non-primitive type are also supported).

[2015-08-28 18:28] otoniel-isidoro-sofist commented on #19
I still think that can be very useful an assertion point to verify these unmapped types on assertjdb. Otherwise you'll need to implement every type support and it can be unnecessary. The only thing important on this cases is that the input type must be the same value of the expected type.

[2015-08-28 19:13] regis1512 commented on #19
Yes i have an idea for unmapped types : http://joel-costigliola.github.io/assertj/assertj-core-conditions.html
Please let me time and i will talk with you about an idea.

If you are ok, you can finish your first pull request, after it is fine if you want to implements BLOB and CBLOB like for UUID.
For CBLOB (http://www.h2database.com/html/datatypes.html#clob_type), i think is possible to map with

[2015-08-31 13:29] otoniel-isidoro-sofist commented on #19
https://github.com/joel-costigliola/assertj-db/pull/20

[2015-08-31 14:23] otoniel-isidoro-sofist opened #21 "isEqualTo(null) should be possible"
In some cases we need to verify if the value on the table is the same value of the expected and the expected value can be null. Then isEqualTo(null) should work if the actual and the expected is null too.
example:
[code]
In this case I dont want to use isNull because I can modify the name attribute from null to a valid value later and my tests still passing.

[2015-08-31 14:36] otoniel-isidoro-sofist commented on #21
I can create a generic method assertion for each table too and use it on various tests with valid or null values on each field.
example:
[code]

[2015-08-31 14:41] otoniel-isidoro-sofist commented on #21
The equality of null=null is not satisfied because of NOT_IDENTIFIED type and on the isEqualTo methods there is a verification on valueType without the type NOT_IDENTIFIED.
example:
[code]

[2015-08-31 18:38] regis1512 commented on #21
Understood. It is not an urgent bug but it is more than an enhancement

[2015-09-01 23:55] otoniel-isidoro-sofist commented on #15
I will close this issue and open another one to generic column type assertions.

[2015-09-01 23:55] #15 closed

[2015-09-01 23:59] otoniel-isidoro-sofist opened #22 "[Improvement] Generic Column Type Assertions"
Should be possible to make assertions on columns that have type which is not mapped on assertj-db.

[2015-09-02 00:11] otoniel-isidoro-sofist commented on #21
Just to discuss: I think that the behavior of isAfterOrEqualTo and isBeforeOrEqualTo (I didn't remember if there was more methods like these) are wrong too because it shoud be able to verify if null=null too.

[2015-09-02 00:25] otoniel-isidoro-sofist commented on #22
Just to don't forget as @regis1512  mentioned on #19  "Yes I have an idea for unmapped types : http://joel-costigliola.github.io/assertj/assertj-core-conditions.html Please let me time and i will talk with you about an idea."

[2015-09-03 20:46] regis1512 commented on #21
I started to work on this.
I do isEqualTo and isNotEqualTo
For other methods, i do not the real interest for the moment so i think to let like that

[2015-09-04 19:37] otoniel-isidoro-sofist opened #23 "Double type not mapped to Number"
A column was declared as DOUBLE on h2 database and the H2 map it to java.lang.Double but on the ValueType.getType method the java.lang.Double is not mapped to NUMBER.
Then the following assert is not possible because it always get an error:
[code]
[code]

[2015-09-04 19:42] otoniel-isidoro-sofist commented on #23
Tests for type double are missing too.

[2015-09-06 10:53] regis1512 commented on #21
Note that it will never be possible to use directly isEqualTo(null) because there is conflict : Java don't know which method is called. But it is possible to implement isEqualTo(Object) and after call it with isEqualTo((Object) null)

[2015-09-06 21:51] regis1512 commented on #23
Please, give me your test results but for me it is closed

[2015-09-06 21:51] regis1512 commented on #21
Please, give me your test results but for me it is closed

[2015-09-06 21:55] regis1512 commented on #22
I did not implement my first thought (Condition) but i have started to implement isEqualTo(Object) and isNotEqualTo(Object). These methods work with Object which have an implementation of equals(...) method.
I still need to implement these new methods for the columns of request, table and change.

[2015-09-06 22:01] regis1512 commented on #19
I add specific tests. Please let me monday evening and you can use that to help you for implementation of specific sql types.

[2015-09-07 21:57] regis1512 commented on #19
I improve the test class "H2Database_Test".
I am sorry : it is finally different than a part of your pull request #20 (for the tests)
But i think it better like that because there are all the sql types of H2 and after we can add test on other specific database.

If you want and have time to fork from this point to implement and finish the test it is fine otherwise i can that tomorrow but now it is

[2015-09-09 05:56] #19 closed

[2015-09-09 05:57] #23 closed

[2015-09-09 05:59] regis1512 opened #24 "Add Condition like in assertj-core"
Add a system of condition like in assertj-core : http://joel-costigliola.github.io/assertj/assertj-core-conditions.html

[2015-09-09 06:00] #21 closed

[2015-09-09 06:03] #22 closed

[2015-09-09 19:04] otoniel-isidoro-sofist commented on #23
I apologize for the delay in answering but I am very busy these days. I already got this implementation and seems it's ok. Thanks.

[2015-09-09 19:05] otoniel-isidoro-sofist commented on #21
It's ok thx!

[2015-09-09 19:08] otoniel-isidoro-sofist commented on #19
I closed my pull request about this issue because your implementation is already cover this.

[2015-09-09 20:23] regis1512 commented on #23
No problem. You are welcome. It is the same for all of us. We do that when we have time : there are other priorities in the life and it is very well like that.

[2015-09-11 19:11] otoniel-isidoro-sofist opened #25 "Verify columns without row order"
Sometimes is necessary to verify columns on a table without an specific row order. It is like contains of assertJ method assertion for Lists. A suggestion would be:
[code]

[2015-09-12 12:20] regis1512 commented on #25
I will work on that

[2015-09-16 06:33] #25 closed

[2015-09-16 06:39] regis1512 commented on #9
I started to work on that.
Like start of the assertions is Assertions class, the display of the data will be Displaying class (in a own package).
I think to make it working like assertions for the navigation.
It will something like :
[code]

[2015-09-17 12:20] otoniel-isidoro-sofist commented on #9
good idea :+1:

[2015-09-17 12:21] otoniel-isidoro-sofist commented on #25
Good job! Thanks!

[2015-10-13 06:04] saniddha opened #26 "Cannot edit sql tables having lower case table names in ubantu machine."
I tried to access a table having a lower case table name and it gave the error message as following.

axErrorException: Table 'coupon.COUPON_CODE' doesn't exist

but actually i have the command as follows.
Table table = new Table(dataSource,"coupon_code");

I cannot understand why ''coupon_code' becomes uppercase name at the error message and i followed the following tutorial.
http://www.journalde

[2015-10-13 16:49] otoniel-isidoro-sofist commented on #26
Hi saniddha..by default, table aliases are case sensitive on Unix, but not so on Windows or OS X.
Then you should use the same letter case pattern on every code. Seems like on your code under test is using the Upper Case pattern for table names.

http://dev.mysql.com/doc/refman/5.6/en/identifier-case-sensitivity.html

[2015-10-13 18:07] regis1512 commented on #26
Hi Saniddha and Otoniel..
If i do not mistake, they are no changes of the case for the name of the table in assertj-db...
But they are some changes for the name of the columns.

@Saniddha : please check your test. If you confirm me a case with anomaly i will control more the code and fix it.

Thanks.

[2015-10-14 04:28] saniddha commented on #26
public class TestCouponCreate {

    public static DataSource getMySQLDataSource() {

        MysqlDataSource mysqlDS = null;
        String MYSQL_DB_URL = "jdbc:mysql://db.coupon.mysql/coupon";
        String MYSQL_DB_PASSWORD = "password";
        String MYSQL_DB_USERNAME = "coupon_user";

        mysqlDS = new MysqlDataSource();
        mysqlDS.setURL(MYSQL_DB_URL);
        mysqlDS.setUser(MYSQ

[2015-10-14 06:10] regis1512 commented on #26
Please could you try this code :
[code]

In fact, that is close to be the same code that the code inside loadImpl(Connection connection) method of Table class which load the data. The biggest difference is loadImpl calls getRequest() method. But getRequest() returns the request with no change on the case of the table name.

So for the moment, i think about a parameter in the jdbc driver... But i a

[2015-10-15 23:03] brcolow opened #27 "Table Constructor - Possible to make it compatible with JDBI (+ HikariCP)?"
Nevermind. Sorry. Great work!

[2015-10-16 04:15] saniddha commented on #26
Thnakz for helping. I was my fault. I hadn't given the user the table access right........

[2015-10-16 04:32] #27 closed

[2015-10-16 06:44] regis1512 commented on #26
You are welcome.
Have a nice day.

[2015-10-16 06:44] #26 closed

[2015-11-30 11:07] agoncal opened #29 "Being able to count rows and columns"
Today we can assert that a table has a set fix number of rows and columns :

assertThat(table).hasNumberOfRows(227);
assertThat(table).hasNumberOfRows(12);

But it would be nice to have more flexibility and do things like :

assertThat(table).rows().isGreaterThan(12)
assertThat(table).columns().isLowerThan(10)

[2015-11-30 19:49] regis1512 commented on #29
Yes. It is a good idea.
I will try to add it soon.

[2015-12-26 05:59] deffence1776 opened #31 "can't detect pk in some DBMS"
In some DBMS, DatabaseMetaData#getPrimaryKeys returns COLUMN_NAME in lowercase.
(I tried sqlite3)

I think you should add String#toUpperCase when you get primarykey's column name at org.assertj.db.type.Table#collectPrimaryKeyName

[code]

Thank you.

[2016-02-02 14:30] glefloch opened #32 "Disable toUpperCase on table name"
Hi,

When I try to use asserJ-db, all query to database use uppercase table nam,w hich is actually not working with our curretn Mysql configuration.
I know I can allow it in the my.cnf configuration file. But on some environment this is impossible.
I that possible to a setter to disable it?

Regards

[2016-02-23 15:42] tnazare commented on #32
Hi,

I have the same problem...
Any news on this issue?

Thib.

[2016-02-23 16:03] glefloch commented on #32
Unfortunately no...

[2016-02-23 20:30] tnazare commented on #32
#33

[2016-02-23 20:30] tnazare commented on #31
#33

[2016-03-10 22:46] PascalSchumacher opened #34 "enhance exception message when column does not exist"
When I try to access a column that does not exist I get `org.assertj.db.exception.AssertJDBException: Column <LastNam> does not exist`

I think it would be nice to have a even more helpful error message, which for example displays all available columns (or even similar named columns).

What do you think?

Thank you very much for providing assertj-db by the way.

[2016-03-12 14:28] regis1512 commented on #31
Sorry to have be long to implement a solution.
You can now find new classes : LetterCase and all associated classes (especially SourceWithLetterCase and DataSourceWithLetterCase) which are here to fix this problem.

When you instantiate a SourceWithLetterCase or DataSourceWithLetterCase, you can indicate the behavior (the conversion like upper and lower and the comparison) with the letter case of

[2016-03-12 14:28] regis1512 commented on #32
Sorry to have be long to implement a solution.
You can now find new classes : LetterCase and all associated classes (especially SourceWithLetterCase and DataSourceWithLetterCase) which are here to fix this problem.

When you instantiate a SourceWithLetterCase or DataSourceWithLetterCase, you can indicate the behavior (the conversion like upper and lower and the comparison) with the letter case of

[2016-03-12 14:28] regis1512 commented on #32
And thank to tnazare for his proposition

[2016-03-12 14:29] regis1512 commented on #31
And thank to tnazare for his proposition

[2016-03-12 14:30] regis1512 commented on #34
It is a goor idea.
I will work on it.

[2016-03-12 15:52] #31 closed

[2016-03-12 15:54] #32 closed

[2016-03-12 15:55] #34 closed

[2016-03-12 16:57] PascalSchumacher commented on #34
Thanks! :)

[2016-03-12 22:13] #9 closed

[2016-03-14 05:56] #29 closed

[2016-03-20 13:28] #18 closed

[2016-03-23 08:34] sisko59 commented on #25
It's great function. Thanks!

[2016-04-06 18:06] regis1512 opened #35 "Add assertions to compare a table with another or a request to another"
The idea is to have an assertion like :

`assertThat(table).isEqualTo(anotherTable);`

[2016-04-06 18:08] regis1512 opened #36 "Add order on table"
The idea is to order the rows of table with something like :
`Table table = new Table(source, "test", Order.asc("col1"), Order.desc("col2"));`

[2016-04-23 09:12] PascalSchumacher opened #37 "assertj-db 1.1.0 does not work with java 7"
Is it intentional that assertj-db 1.1.0 requires java 8?

When I try to use it with java 7 I get:

[2016-04-23 15:37] regis1512 commented on #37
I have updated the version of assertj-parent-pom.
It is certainly that which is wrong

[2016-04-23 15:57] regis1512 commented on #37
So i release a version 1.1.1 to fix that

[2016-04-23 15:57] #37 closed

[2016-04-23 17:50] PascalSchumacher commented on #37
Thanks!

[2016-04-24 03:31] joel-costigliola commented on #37
What you should probably do is to set the compiler plugin to 1.7 as in assertj-core 2.x:
[code]
Doing that will let you use the latest parent pom (no need to release 1.1.2 for that).

[2016-04-24 20:22] #36 closed

[2016-04-27 11:28] urshensler opened #38 "contains at least"
Today we can assert that a column has **exactly** some values :

[code]

If the table contains more rows / values, the assertion fails.

But it would be nice to have more flexibility and check if the column contains **at least** the given values.

[2016-04-27 17:46] regis1512 commented on #38
It is a good idea. Thanks.

[2016-05-24 07:52] ycwdaaaa opened #39 "[bug]an exception thrown out when the table name conflict with keyword in mysql"
when I tried to use Changes.setStartPointNow(), I got an exception that You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'group' at line 1.
This due to my table name is group which conflict with keyword in mysql. And then I want to use the "`" to solve this problem just like I did in mysql side. But it still not

[2016-05-28 09:05] PascalSchumacher opened #41 "Add BDDAssertions?"
I prefer to use `then` over `assertThat` for assertions, so I always use http://joel-costigliola.github.io/assertj/core/api/org/assertj/core/api/BDDAssertions.html of assertj-core.

Maybe this could also be added to assertj-db?

[2016-05-31 04:59] regis1512 commented on #41
It is possible to add another entry point.
But why the name of the class is BDDAssertions in assertj-core ?

[2016-05-31 05:01] joel-costigliola commented on #41
[Behaviour Driven Development](https://en.wikipedia.org/wiki/Behavior-driven_development) `then` part ;-)

[2016-05-31 05:04] regis1512 commented on #41
Thanks. Understood.

[2016-06-15 13:13] men-devnat-grenoble opened #43 "Add support for char column type in TableRowValueAssert#isEqualTo"
As a tester I want to be able to check character value on char type column.
At the moment char I have to use the isEqualTo(String) signature to perform this test

`assertThat(table).row(3).value("code").isEqualTo('A')`

Thanks for your job!

[2016-06-15 20:32] regis1512 commented on #43
Thanks for your suggestion.
It will be a good thing.
I will try to add it in the next version.

[2016-06-24 04:51] #41 closed

[2016-07-03 14:49] PascalSchumacher opened #45 "Add support for testing that a row contains no Null values?"
Sometimes I do not care about the exact values of a row, I just want to assure that every value is present.

Therefore I think something like `row.hasNoNullValues()` would be a helpful addition.

[2016-08-04 18:22] Avinash-Bhat commented on #12
@regis1512  is anyone working on this? I'd like to take a crack on this as I have started some work on this out of necessity.

[2016-08-04 19:10] Avinash-Bhat commented on #12
This is my proposal for the APIs _(not exhaustive list)_.

1. `TableAssert.exist()`
2. `AbstractColumnAssert.exist()`
3. `AbstractColumnAssert.hasType(String)`
4. `AbstractColumnAssert.isPrimaryKey()`
5. `AbstractColumnAssert.hasDefaultValue(Object)`

For completion, the inverse of the `isPrimaryKey` and, `exist` should also be provided.

there should be additional methods for additional checks ,

[2016-08-09 06:12] Avinash-Bhat opened #49 "NPE while asserting no changes"
Trying to assert for no changes to a Changes variable causes NPE at [Descriptions.java:79](https://github.com/joel-costigliola/assertj-db/blob/master/src/main/java/org/assertj/db/util/Descriptions.java#L79). This is for that the `Changes.getRequest()` can return `null`.

[2017-02-27 16:32] r0main opened #51 "Make AssertJ-DB transaction aware"
Hi,

Context :
 - AssertJ-DB 1.1.1
 - Spring-Test
 - H2 Database.

 It seems that AssertJ-DB in this version is not aware of opened transactions. I looked at you test cases. Your are using `@Transactional` :

[code]

But you didn't add the `TransactionalTestExecutionListener` and you didn't create a `PlatformTransactionManager`. So I think you are not really using transactions.

The only solution

[2017-04-12 15:21] CobaltChicken opened #52 "Field containing '%' causes formatflagsconversionmismatchexception in db dump"
java.util.FormatFlagsConversionMismatchException at TestLoadFilesIT.java:199

Seems to happen when you attempt to dump a database record containing a percentage sign in a column. The text is fed through String.format and percentage characters are treated as a placeholder field.

Literal % signs need to be escaped before calling format().

[2017-04-12 20:03] joel-costigliola commented on #52
Thanks for the feedback !
Could you write a small unit test showing the problem ?

[2017-05-01 20:16] #49 closed

[2017-05-02 20:21] regis1512 commented on #45
That is merged.
Thanks

[2017-05-02 20:21] #45 closed

[2017-05-06 10:30] #39 closed

[2017-05-06 19:56] #43 closed

[2017-05-07 19:47] regis1512 commented on #52
During tests, i identify a problem with a column name with %.
It was a format exception with String.format(...).
I close this issue and hope it was the same problem.

[2017-05-07 19:47] #52 closed

[2017-06-26 12:29] victornoel commented on #24
This would be really useful, for example to test the result of applying a function to a value (for example hashed password comparison).

[2018-04-16 06:21] juntaki opened #54 "getConnection() leak?"
Is this connection closed?
I got the error `org.postgresql.util.PSQLException: FATAL: remaining connection slots are reserved for non-replication superuser connections`, with many use of `setStartPointNow()` and `setEndPointNow()`.
https://github.com/joel-costigliola/assertj-db/blob/542eedb950f9eedf56bda6648568d565b1416cd6/src/main/java/org/assertj/db/type/Changes.java#L274

[2018-05-09 10:42] RanchoLi opened #55 "The valueType is mapped to Boolean if the column type is TINYINT"
if the column type is TINYINT, the valueType of the column is mapped to Boolean, when I getValue().toString(), the value is true or false, I want to the value will be returned to the real value.

request.getRow(0).getColumnValue("current_status").getValue().toString();

[2018-05-09 11:15] PascalSchumacher commented on #54
Yes it is closed, because the try-with-resources statement closes the connection after executing the code block.

[2018-05-18 06:35] juntaki commented on #54
Thanks!

[2018-05-18 06:35] #54 closed

[2018-09-25 10:52] ansgarkonermann opened #56 "Document "data snapshot" aspect/intent of AbstractDbData and subclasses more explicitly"
Dear AssertJ-DB team, Dear Joel,

I found one of my friends wrapping Table to allow for a "data reload feature". As I understand the JavaDoc of that class, the intended purpose of this class and the sibling AbstractDbData subclasses is to hold a _snapshot_ of DB data and provide a fluent assertion API for this data _snapshot_.

The web site http://joel-costigliola.github.io/assertj/assertj-db-conc

[2018-09-26 04:44] joel-costigliola commented on #56
@ansgarkonermann I'm not really involved in that module, @regis1512 is the man!

[2018-11-30 10:34] ylegat opened #57 "Assertions using a custom predicate"
Hi!

Despite reading the documentation, I fail to see how I can run an assertion on a value using a custom predicate. This is necessary because I need to check a specific property of a value.

Did I miss something or is there currently no way of doing that?

[2019-02-21 13:50] willyhalim opened #58 "SoftAssertion on assertj-db"
Hi,

How do i do SoftAssertion proxy chaining for assertj-db ?

If i just proxy the RequestRowAssert i get issue like below
[code]

[2019-06-24 09:18] tbdyzm opened #59 "how to monitor changes in a table when there is huge amount od data"
Hi,
I used Changes(Table) to init changes, and there are nearly 150,000 records in a table, I just changed one record.I used setStartPointNow() and setEndPointNow() to monitor the changes. when I tried to find what changed in the table, changes.getChangeList() went into an endless loop.
Is there a performance bottleneck about the amount of records in a table.

Testcase run as the following pic:
![

[2019-08-26 04:40] willyhalim opened #61 "QueryTimeout"
Is there a way to specify connection / query timeout while using assertj db ?

[2019-12-03 09:46] SprdNils opened #62 "Close timestamps within tolerance are not recognised"
Hi there,

when comparing timestamps of a row with some given value within a specific tolerance sometimes it happens that the assertions fails although the current timestamp is within the tolerance. Problem is caused when the expected value is on the edge of a minute shift like _09:24:58_ and the current value is after that value like _09:25:00_. When comparing these two values with a tolerance of

[2019-12-04 19:58] VanRoy commented on #62
Hi @SprdNils , thanks for your feedback.
We will investigate quickly.

[2019-12-06 13:15] VanRoy commented on #62
Hi @SprdNils , I succeed to reproduce this issue, I plan a resolution for the next version.

[2019-12-06 13:17] VanRoy commented on #57
Duplicate of #24

[2019-12-06 14:11] VanRoy commented on #61
@willyhalim , Currently you have two ways to do that :

1) You can use properties in JDBC connection URL with AssertJ-DB Source ( For example with Postgresl : https://jdbc.postgresql.org/documentation/head/connect.html )
2) You can use settings of DataSource and use it in Table instead of Source

Tell me if it fit with your requirement.

[2019-12-06 14:16] VanRoy commented on #55
hi @RanchoLi , thanks for your feedback.

Normally TINYINT should mapped to Number.
Can you send me a small sample to reproduce your issue ?

[2019-12-26 17:02] VanRoy commented on #62
Fixed in release 1.3.0

[2019-12-26 17:02] #62 closed

[2019-12-26 17:02] VanRoy commented on #58
Implemented in release 1.3.0

[2019-12-26 17:02] #58 closed

[2019-12-26 17:02] VanRoy commented on #57
Implemented in release 1.3.0

[2019-12-26 17:02] #57 closed

[2019-12-26 17:02] VanRoy commented on #24
Implemented in release 1.3.0

[2019-12-26 17:02] #24 closed

[2019-12-26 17:03] VanRoy commented on #12
@Avinash-Bhat Checking existence of table is implemented in release 1.3.0

[2020-03-02 04:13] zhangxun165 opened #68 "How can Request support @Transactional?"
when I use `@Transactional` and `@Rollback` on a test，why the Request get an unexpected value?

[code]

[2020-03-14 21:16] VanRoy commented on #68
Hi @zhangxun165 , it's because JdbcTemplate is aware of @Transactional but AssertJ-DB not.
Indeed AssertJ-DB is designed for working with his own DB connection to validate the "real"  status of the database.
Maybe you can bypass that to set default Isolation level of your datasource to READ_UNCOMMITTED

[2020-04-07 07:15] rherrmann opened #69 "Cannot compare value of date column with LocalDate"
Given a table with a date column, the following attempt to compare the value of a date column of a specific row with a `LocalDate` fails:

[code]

The failure message is:
[code]

It seems possible to use a string or `java.sql.Date` instead. Is there a reason why `isEqualTo(LocalDate)` is not supported?

[2020-04-21 19:37] VanRoy commented on #69
@rherrmann Can you tell me which DB you use for the test and the table schema ?

[2020-04-21 19:52] rherrmann commented on #69
The test runs against Postgres 12.2.

[2020-04-24 16:44] VanRoy commented on #69
Thanks @rherrmann , Can you tell me what is the type of the column in DB ?

[2020-04-24 16:56] rherrmann commented on #69
The type is just `date`.

[2020-05-09 07:46] VanRoy commented on #68
@zhangxun165 Can you provide us an update for this issue ?

[2020-05-09 07:46] VanRoy commented on #69
@rherrmann Thanks a lot, I will investigate.

[2020-05-11 20:51] VanRoy commented on #69
@rherrmann Unfortunately LocalDate is not available on assertion for now. JSR 310 support is planned for the next version ( 2.0.0 ).

For now you have to use this syntax ( with DateValue ) :

[code]

[2020-06-16 20:22] VanRoy commented on #68
Hi @zhangxun165 , I think you can solve this issue with use of `TransactionAwareDataSourceProxy` from spring-tx

`
Request request = new Request(TransactionAwareDataSourceProxy(dataSource), querySQL);
`

[2020-06-16 20:23] VanRoy commented on #51
Hi @r0main @anthonyraymond , I think you can solve this issue with use of `TransactionAwareDataSourceProxy`from spring-tx

`
Table table = new Table(TransactionAwareDataSourceProxy(dataSource), "products");
`

[2020-06-17 08:37] anthonyraymond commented on #51
@VanRoy I wasn't aware of that class, thanks to you. It works indeed

[2020-06-17 17:00] VanRoy commented on #51
@anthonyraymond Cool. Thanks for your feedback.

[2020-06-17 17:01] #51 closed

[2020-06-17 17:02] #68 closed

[2020-06-24 20:48] VanRoy commented on #69
@rherrmann This enhancement has been released in the first RC of 2.0.0 today ( 2.0.0.RC1 ).

[2020-07-08 21:07] VanRoy commented on #69
@rherrmann 2.0.0 is available now . Thanks for your patience.

[2020-07-08 21:07] #69 closed

[2020-07-24 13:40] sciencesakura opened #91 "When update table on schema, the Changes object has deletion and creation, not one modification"
* version: 2.0.0

[code]

On the one hand, when update table without schema, the `Changes` has **one modification change**:

[code]

But on the other hand, when update table with schema, the `Changes` has **two changes - creation and deletion**:

[code]

I think an update operation should be treated as one modification always, not a pair of deletion and creation.

[2020-07-24 13:57] sciencesakura commented on #91
I put simple code to reproduce this behavior:

https://github.com/sciencesakura/assertj-db-issues-reproduction/tree/issue_91

[2020-08-04 12:26] sciencesakura commented on #91
Hi, I've solved it.

`Changes` obtains table and primary key definitions from the metadata using the connection's current schema. Thus when verifying the table that belongs to the different schema from connection's current one, the verifying is not work correctly.

So I've created separate `Changes` for each schema and asserted them individually:

[code]

It work.

I'll close this. thx

[2020-08-04 12:26] #91 closed

[2020-08-07 11:54] VanRoy commented on #91
Hi @sciencesakura , thanks a lot for the feedback, your investigation and for sharing the solution.

[2020-09-03 15:49] JustAlexOne commented on #35
Upvoting. Would be really good to have the same for Request as well

[2020-09-29 09:26] jfisbein opened #101 "How to check value on a Postgres JsonB field?"
I trying to check the values inserted on a table where a field is of the type `jsonb`.

When I run something like this:
[code]
I get the following error:
[code]

Here is the table content:
[code]
Using assertj-db 2.0.0

Is there any way I can check the content of a PostgreSQL `jsonb` column?

[2020-10-01 19:08] VanRoy commented on #101
Hi @jfisbein , Indeed it's a good question, do - you tried with _Condition_ assertion ?

I will check that on side and I will send you a feedback soon.

[2020-10-02 13:26] jfisbein commented on #101
Thanks @VanRoy I solved it using Condition
`new Condition<>(d -> d.getValue().equals("my expected value"), "Json value is");`

[2020-10-02 15:29] VanRoy commented on #101
Great @jfisbein , I still try to see if we can improve the JSON support.

[2020-10-17 08:10] soezen opened #107 "SoftAssertions changes error"
[code]

results in error

[code]

In debug it seems that the error occurs on line 128
of PositionWithChanges, there the class name has a replace
[code]
I think the regex should be replaced with `\\$.*\\$.*` or `\\$.*`
As you can see in the error message the actual class name has text in between which is why the current regex is not working

[2020-10-17 08:29] soezen commented on #107
When can this be released? or can you suggest a workaround?

[2020-10-17 15:22] #107 closed

[2020-10-17 15:49] VanRoy commented on #107
@soezen It's release in 2.0.2. Thanks for your help.

[2020-10-20 13:11] soezen opened #110 "Possibility to use Condition in hasValues of row assertions"
I would like to include condition objects when I call the hasValue method of a row assertion

[code]

[2020-10-29 03:14] willyhalim commented on #61
It seems didnt work , in normal prepared statement i can do something like this
[code]

[2020-11-01 20:24] VanRoy commented on #61
Hi @willyhalim , can you send me some details of your issue / use case ? When the timeout error is raised ? During the connection ? During an assertj-db assertion ?
Thanks.

[2020-11-01 21:36] VanRoy commented on #110
Hi @soezen , thanks for your report and your PR. It a good idea. However, I think it will be better to implement this feature with other method name and implement some tests.
I can handle this, and I also plan to support Consumer in addition of Condition on many assertj-db methods.
I'll let you know quickly.

[2020-11-02 06:40] soezen commented on #110
Wow, super.
Yes this was just a quick implementation for something I would like to use.
Thanks

On Sun, Nov 1, 2020 at 10:36 PM Julien Roy <notifications@github.com> wrote:

[2020-11-06 08:13] soezen opened #117 "setStartPoint opens alot of connections to the db"
When I call setStartPointNow() a lot of connections are opened.
One for getting all the tables and then the code loops over all tables and opens another connection for each table to get the table name.
Is it possible to refactor this to reuse the already open connection?

[code]
The copyElement() method within the while loop is the place where another connection is opened to get the table name fro

[2021-02-15 02:31] willyhalim opened #126 "assertj-db SoftAssertion doesnt work with assertj-core 3.19.0"
This was ok if i use assertj-core 3.15.0 SoftAssertions , but it breaks in assertj-core 3.19.0 .
Its due to generic return type

[code]

[2021-02-22 20:46] VanRoy commented on #126
@willyhalim Can you tell me wich version of assertj-db do you use ?

[2021-02-23 02:10] willyhalim commented on #126
Hi , I use assertj db version 2.0.2 , Thanks

[2021-02-23 21:26] VanRoy commented on #126
@willyhalim Thanks for the information, can you provide a little snippet of code that permit me to reproduce the issue ?

[2021-02-23 21:57] VanRoy commented on #110
Hi @soezen , a first implementation of `hasValuesSatisfying` with `Condition` is pushed on `main`.
It wil be available soon in the next release.
Sorry for the delay.

[2021-02-23 22:00] VanRoy commented on #117
Hi @soezen , indeed it's not really easy to fix it due to the conception of `Table` implementation :(

[2021-03-08 12:19] willyhalim commented on #126
Apologies for the delay

This works with assertj 3.14.0 and assertj db 2.0.2
[code]

But will have compilation error in assertj 3.19.0 ( due to generic return type is changed )

[2021-03-31 09:21] tisoft commented on #35
Would also really like that.

Currently I'm converting the tables into list of maps as a workaround:

[code]

[2021-04-16 08:58] jpfroud opened #142 "versioning scheme and breaking changes"
Hi,

Would be great if you could change the current versioning scheme to respect the most used [semantic versionning](versioning ):

It's a pain every time we update our dependencies, we have to remember that assertj has breaking changes even though only minor version were updated.

By the way, we're stuck on version 3.17 because of this change:

What's the simplest way to get the previous behavio

[2021-09-20 04:49] jitsuishi opened #175 "ORA-00942 occurs when using Oracle DB and Flyway"
"ORA-00942: table or view does not exist" occurs when calling setStartPointNow().
Because the table name created by Flyway is lowercase, you must enclose the table name in double quotes when executing the SELECT statement.

[code]

the following is output to the failure trace.
[code]

[2021-09-20 05:10] jitsuishi opened #176 "Unable to detect changes not default schema"
I am using Oracle DB for testing.
Also, the application user and the schema management user are different.

is empty.
Watching at changes.changesList in the code below, it's null.

[code]

Changes targets the default schema for change detection, can it target another schema?

[2021-09-25 12:20] VanRoy commented on #175
Hi @jitsuishi thanks for this feedback, I will investigate on how we can fix this issue.
Thanks.

[2021-09-25 12:28] VanRoy commented on #176
Hi @jitsuishi Indeed assertj-db know have currently the capability to select schema and the Oracle JDBC driver either.
I think you can use Hikari as workaround.

You can try this :

`
HikariDataSource hikariDs = new HikariDataSource();
hikariDs.setDataSource(ods);
hikariDs.setConnectionInitSql("ALTER SESSION SET CURRENT_SCHEMA = SOME_SCHEMA");
`

Julien.

[2021-12-31 11:56] davinkevin opened #206 "Support R2DBC connection"
Hi,

First, I would like to share I really like this project and use it a lot in project for my db testing, so thanks !

I would like to know, or request, if the support of R2DBC connection is planned?
R2DBC is starting to be more and more stable and simple to implement, so using it for perf/integration and be able to use `assertj-db` for tests is something very important.

Thanks, and happy new y

[2022-11-14 12:26] Sergey-citc opened #259 "Sort Changes by the specified field other than the primary key"
According to documentation, changes sorted by primary key and if there are no primary key by the values of the row (for a modification).
My table has a primary key, but it doesn't fit because it has a type UUID. So the changes is sorted randomly.

Is there any function to set sorting on any other field? If not, can you add?

I tried like below code, it doesn't work:

`Table(dataSource, "table_name